
{% block contenido %}
<div class='container'>
	<ul class='nav nav-tabs'>
		<li class='active'>
			<a href="#materias-buscar" role='tab' data-toggle='tab'>
				Buscar una materia
			</a>
		</li>
		<li>
			<a href="#materias-todos" role='tab' data-toggle='tab' onclick='$("#materias-todos").load("Materias/ver")'>
				Ver todas las materias
			</a>
		</li>
		<li>
			<a href="#materias-crear" role='tab' data-toggle='tab'>
				Crear una materia
			</a>
		</li>

	</ul>

	<div class='tab-content' style='padding-top:1.5em'>
		<div id="materias-buscar" class='tab-pane fade in active'>
            {% include "Materias/buscar.twig" %}
		</div>
		<div id="materias-todos" class='tab-pane fade'>
			<!-- esta se llena de forma asíncrona con /async/usuarios/todos -->
		</div>
		<div id="materias-crear" class='tab-pane fade'>
            {% include "Materias/modificar.twig" %}

		</div>
		
	</div>
</div>
{% endblock %}
