
{{ html.css('styles') }}

{% block header %}

    <header class="container-fluid">
        <h2>
        <div class='col-xs-12 col-md-6 text-center'><img src="img/logo.png" class='logo-mini'> GEMA: Administración</div>

        </h2>
        <div class='col-xs-12 col-md-6 text-center'>
            <h2>{{app.Session.Auth.User.Profile.nombre}} <small class="roleText">profesor{{usuario_activo.rol}}</small></h2>
            <a class='btn btn-md btn-primary' href="#">Preferencias</a>
            <a class='btn btn-md btn-danger' href="users/logout">Cerrar Sesión</a>

        </div>
    </header>
{% endblock %}


{% block contenido %}

    <nav class='container'>
        <ul class='nav nav-pills nav-justified'>
            {% block navbar_admin_g %}
            {% endblock %}
            <li class="active"><a href="#preguntas" role='tab' data-toggle='tab'>Preguntas</a></li>
            <li><a href="#temas" role='tab' data-toggle='tab'>Temas</a></li>
            <li><a href="#estadisticas" role='tab' data-toggle='tab'>Estadisticas</a></li>
        </ul>
    </nav>
    <section class='container' style='padding-top:2em'>
        <div class='tab-content'>
            {% block tabs_admin_g %}
            {% endblock %}
            <div class='tab-pane fade in active' id="preguntas">
            </div>
            <div class='tab-pane fade' id="temas">
            </div>
            <div class='tab-pane fade' id='estadisticas'>

            </div>
        </div>

    </section>
    {% block contenido_admin %}

    {% endblock %}



{% endblock %}

