{% extends "Layouts/layout-evaluacion.twig" %}

{%block controles_evaluacion%}
    <h1><strong>Evaluación</strong></h1>
    <a class='btn btn-success' role='button' onclick="$.post('calificar',$('#evaluacion').serialize(),function(data){window.location.replace('evaluaciones');})" >Calificar</a>
    <a class='btn btn-danger' role='button' href='Evaluaciones/index'>Salir</a>
{%endblock%}

{% block navbar_primero%}
    <a href="#instrucciones" role='tab' data-toggle='tab'>
        Instrucciones
    </a>
{%endblock%}

{% block tab_primero%}
    <div class='tab-pane fade in active' id='instrucciones'>
        <div class='card col-md-12'>
            <h1>Instrucciones</h1>
            <p class='lead'>
                En la parte izquierda puedes encontrar una lista de cuántas preguntas tiene ésta evaluación, además de todas las materias que la componen.
            </p>
            <p class='lead'>
                Selecciona la opción que consideres correcta para cada una de las preguntas. Hay preguntas que tienen material adicional. Para verlo, haz clic en el botón <a href='#' class='btn btn-primary '>
                    <span class='glyphicon glyphicon-paperclip'></span>
                </a> y el recurso se mostrará.
            </p>
            <p class='lead'>
                Si ya has contestado una sección, selecciona alguna de las categorías ubicadas en la parte izquierda.
            </p>
            <p class='lead'>
                Una vez hayas completado la evaluación, GEMA calificará tus respuestas y te dará las justificaciones de tus respuestas correctas. Las respuestas en blanco se contabilizan como incorrectas.
            </p>
            <p class='lead'>
                ¡Éxito y Buena Suerte!
            </p>
        </div>
    </div>
{% endblock %}

{%block respuesta%}
    <div class="radio">

        <label class='respuesta'>


            <input type="radio" name="{{pregunta.qid}}" value="{{loop.index}}"
                   {%if respuesta.seleccionada%}checked{%endif%}
                    >{{respuesta.texto}}


        </label>

    </div>
{%endblock%}